*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e5e5e5;
}
header{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url("../imagens/hacker2.jpg");
}
#header-title{
    color: #23f7f7;
    font-family: Arial, Helvetica, sans-serif;
}
#header-subtitle{
    width: 200px;
    text-align: center;
    color: white;
    padding: 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fab234;
}
.content-wrapper{
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}
.content-title{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.content-text{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
}
.content-image{
    width: 100%;
    margin-top: 15px;
    border-radius: 4px;
}
.article-title{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.article-text{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
}
.article-list{
    margin-top: 10px;
}
.article-list-item{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: justify;
}

.article-table{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 3%;
}
.article-table > thead{
    background-color: #17a4a3;
}
thead tr td {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
    width: 50%;
}
.article-table > tbody{
    background-color: white;
}
tbody tr:nth-child(2){
    background-color: #eee;
}
tbody tr td {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-top: 1px solid black;
}

p{
    margin-bottom: 3%;
}

.imgefeito {
    margin: 0;
    overflow: hidden;
    float: left;
    position: relative;
}
.imgefeito a {
    text-decoration: none;
    float: left;
}
.imgefeito a:hover {
    cursor: pointer;
} 

.imgefeito a img {
    float: left;
    margin: 0;
    border: none;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
} 

.imgefeito a .mais {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 1.2em;
    color: #fff;
    background: #000;
    padding: 5px 10px;
    filter:alpha(opacity=65);
    opacity:.65;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)"; /*--IE 8 Transparency--*/
}
.imgefeito a:hover .desc{
    display: block;
    font-size: 1.2em;
    padding: 10px 0;
    background: #111;
    filter:alpha(opacity=75);
    opacity:.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
    color: #fff;
    position: absolute;
    bottom: 11px;
    left: 11px;
    padding: 10px;
    margin: 0;
    width: 615px;
    border-top: 1px solid #999;
}
.imgefeito a:hover .desc strong {
    display: block;
    margin-bottom: 5px;
    font-size:1.5em;
}

.desc{
    color: transparent;
}